.header {
  width: 100%;
  height: auto;
  display: flex;
  padding: 10px 150px;
  background-color: transparent;
  align-items: center;
  justify-content: space-between;
  .header-left {
    cursor: pointer;
    h1 {
      font-size: 40px;
      color: #4b4b4b;
      font-weight: 300;
      letter-spacing: 0.5px;
    }
  }
  .header-right {
    button {
      font-size: 20px;
      padding: 8px 15px;
      background-color: #00a6ff;
      color: #fff;
      border: none;
      outline: none;
      border-radius: 6px;
      cursor: pointer;
      transition: 0.3s;
      &:hover {
        background-color: #32b7ff;
        transition: 0.3s;
        transform: translateY(-3px);
      }
    }
  }
}


@media (max-width : 1235px) {
  .header {
    padding: 12px 50px;
  }
}
@media (max-width : 650px) {
  .header {
    padding: 12px 50px;
    .header-left {
      h1 {
        font-size: 30px;
      }
    }
    .header-right {
      button {
        font-size: 16px;
      }
    }
  }
}
@media (max-width : 500px) {
  .header {
    padding: 12px 20px;
    .header-left {
      h1 {
        font-size: 23px;
      }
    }
    .header-right {
      button {
        font-size: 14px;
      }
    }
  }
}