<app-header></app-header>
<div class="rail-list-main">
  <div class="title">
    <h1>Choose your preferred train</h1>
  </div>
  <div class="section">
    <div class="section-title">
      <div class="title-up">
        <h1>List of trains</h1>
      </div>
      <div class="title-down">
        <ul>
          <li><p>Train name</p></li>
          <li><p>Departure</p></li>
          <li><p>Sunset</p></li>
          <li><p></p></li>
        </ul>
      </div>
    </div>
    <div class="section-list">
      <ul>
        <li>
          <div class="list-info">
            <p>#812</p>
            <p>Tbilisi-Batumi Express</p>
          </div>
        </li>
        <li>
          <div class="list-info">
            <p>00:35</p>
            <p>Tbilisi</p>
          </div>
        </li>
        <li>
          <div class="list-info">
            <p>05:47</p>
            <p>Batumi</p>
          </div>
        </li>
        <li>
          <button>დაჯავშნა</button>
        </li>
      </ul>
    </div>
  </div>
</div>
<app-footer></app-footer>
