<app-header></app-header>
<div class="rail-list-main">
  <div class="title">
    <h1>Choose your preferred train</h1>
  </div>
  <div class="section">
    <div class="section-title">
      <div class="title-up">
        <h1>List of trains</h1>
      </div>
      <div class="title-down">
        <ul>
          <li><p>Train name</p></li>
          <li><p>Departure</p></li>
          <li><p>Sunset</p></li>
          <li><p></p></li>
        </ul>
      </div>
    </div>
    <div class="section-list">
      <!-- #812 -->
      <ul>
        <li>
          <div class="list-info">
            <p>#812</p>
            <p>{{ storedData.from }}-{{ storedData.to }} Express</p>
          </div>
        </li>
        <li>
          <div class="list-info">
            <p>00:35</p>
            <p>{{ storedData.from }}</p>
          </div>
        </li>
        <li>
          <div class="list-info">
            <p>05:47</p>
            <p>{{ storedData.to}}</p>
          </div>
        </li>
        <li>
          <button>Reservation</button>
        </li>
      </ul>
      <!-- #808 -->
      <ul>
        <li>
          <div class="list-info">
            <p>#808</p>
            <p>{{ storedData.from }}-{{ storedData.to }} Express</p>
          </div>
        </li>
        <li>
          <div class="list-info">
            <p>10:25</p>
            <p>{{ storedData.from }}</p>
          </div>
        </li>
        <li>
          <div class="list-info">
            <p>15:38</p>
            <p>{{ storedData.to }}</p>
          </div>
        </li>
        <li>
          <button>Reservation</button>
        </li>
      </ul>
      <!-- #804 -->
      <ul>
        <li>
          <div class="list-info">
            <p>#804</p>
            <p>{{ storedData.from }}-{{ storedData.to }} Express</p>
          </div>
        </li>
        <li>
          <div class="list-info">
            <p>17:10</p>
            <p>{{ storedData.from }}</p>
          </div>
        </li>
        <li>
          <div class="list-info">
            <p>22:20</p>
            <p>{{ storedData.to }}</p>
          </div>
        </li>
        <li>
          <button>Reservation</button>
        </li>
      </ul>
    </div>
  </div>
</div>
<app-footer></app-footer>
