<app-header></app-header>
<div class="rail-list-main">
  <div class="title">
    <h1>აირჩიეთ თქვენთვის სასურველი მატარებელი</h1>
  </div>
  <div class="section">
    <div class="section-title">
      <div class="title-up">
        <h1>მატარებლების ჩამონათვალი</h1>
      </div>
      <div class="title-down">
        <ul>
          <li><p>მატარებლის სახელი</p></li>
          <li><p>გამგზავრება</p></li>
          <li><p>ჩასვლა</p></li>
          <li><p></p></li>
        </ul>
      </div>
    </div>
    <div class="section-list">
      <ul>
        <li>
          <div class="list-info">
            <p>#812</p>
            <p>თბილისი-ბათუმი Express</p>
          </div>
        </li>
        <li>
          <div class="list-info">
            <p>00:35</p>
            <p>თბილისი</p>
          </div>
        </li>
        <li>
          <div class="list-info">
            <p>05:47</p>
            <p>ბათუმი</p>
          </div>
        </li>
        <li>
          <button>დაჯავშნა</button>
        </li>
      </ul>
    </div>
  </div>
</div>
<app-footer></app-footer>
