.check-ticket-main {
  width: 100%;
  min-height: 80vh;
  display: flex;
  align-items: top;
  justify-content: top;
  flex-direction: column;
  row-gap: 20px;
  padding: 50px 150px;
  background-color: rgb(240, 255, 255);
  .ticket-search {
    width: 100%;
    display: flex;
    align-items: top;
    justify-content: center;
    position: relative;
    top: 10px;
    input {
      width: 500px;
      height: auto;
      font-size: 18px;
      border-radius: 18px;
      border: none;
      outline: none;
      box-shadow: 0px 0px 3px #585858;
      padding: 10px 30px;
    }
  }
  .ticket {
    width: 100%;
    min-height: 50vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    padding: 40px;
    box-shadow: 0px 0px 3px #585858;
    border-radius: 4px;
    .ticket-header {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .header-left {
        h1 {
          font-size: 30px;
          font-weight: 100;
          letter-spacing: 1px;
        }
      }
      .header-right {
        img {
          width: 50px;
          height: 50px;
          object-fit: cover;
        }
      }
    }
    .unique-number-date {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      p {
        font-size: 17px;
      }
    }
    .departure-sunset-date {
      width: 100%;
      height: auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border: 1px solid #585858;
      border-radius: 10px;
      padding: 0px 20px;
      .decore {
        width: 1px;
        height: 100%;
        background-color: #585858;
      }
      .departure,
      .sunset,
      .start-date {
        width: 100%;
        flex: 1;
        display: flex;
        flex-direction: column;
        row-gap: 5px;
        padding: 20px 0px;
        b,
        p {
          font-size: 18px;
        }
      }
      .sunset,
      .start-date {
        padding-left: 20px;
      }
    }
    .contact-information {
      width: 100%;
      display: flex;
      flex-direction: column;
      row-gap: 20px;
      .contact-title {
        h3 {
          font-size: 22px;
          font-weight: 100;
          letter-spacing: 0.5px;
        }
      }
      .email-phone-number {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 1px solid #585858;
        border-radius: 10px;
        padding: 0px 20px;
        .decore {
          width: 1px;
          height: 100%;
          background-color: #585858;
        }
        .email,
        .phone-number {
          display: flex;
          flex-direction: row;
          align-items: center;
          column-gap: 5px;
          padding: 20px 0px;
          b,
          p {
            font-size: 18px;
          }
        }
      }
    }
    .passengers {
      width: 100%;
      display: flex;
      flex-direction: column;
      row-gap: 20px;
      .passengers-title {
        h3 {
          font-size: 22px;
          font-weight: 100;
          letter-spacing: 0.5px;
        }
      }
      .passengers-list {
        width: 100%;
        height: auto;
        border: 1px solid #585858;
        border-radius: 10px;
        padding: 20px 20px;
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        .passsenger {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          height: auto;
          .first-name,
          .last-name,
          .personal-number,
          .place,
          .train-class {
            width: 100%;
            flex: 1;
            display: flex;
            flex-direction: column;
            row-gap: 5px;
            b,
            p {
              font-size: 18px;
            }
          }
        }
      }
    }
    .payment-info {
      width: 100%;
      display: flex;
      align-items: top;
      justify-content: space-between;
      .payment-left {
        width: 100%;
        flex: 1;
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        b,
        p {
          font-size: 18px;
        }
      }
      .payment-right {
        display: flex;
        align-items: center;
        flex-direction: row;
        column-gap: 10px;
        b,
        p {
          font-size: 18px;
        }
      }
    }
    .rules {
      width: 100%;
      text-align: center;
      p {
        font-size: 16px;
        letter-spacing: 0.5px;
      }
      .red-p {
        color: #ff3e3e;
      }
    }
  }
  button {
    background-color: #ff1e00f5;
    color: #fff;
    border: none;
    outline: none;
    padding: 5px 10px;
    font-size: 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.2s;
    width: 200px;
    height: 35px;
    letter-spacing: 1px;
    &:hover {
      background-color: #bc0505;
      transition: 0.2s;
    }
    &:active {
      transition: 0s;
      background-color: #ff1e00f5;
    }
  }
}