<app-header></app-header>
<div class="check-ticket-main">
  <input type="text" [(ngModel)]="searchValue" (input)="searchTicket()">
  <ng-container *ngFor="let ticket of allTickets">
    <ng-container *ngIf="searchValue === ticket.uniqueNumber">
      <div class="ticket">
        <div class="ticket-header">
          <div class="header-left">
            <h1>GM RAILWAY</h1>
          </div>
          <div class="header-right">
            <img src="/assets/images/train.png">
          </div>
        </div>
        <div class="unique-number-date">
          <p>Ticket unique number: <b>{{ ticket.uniqueNumber }}</b></p>
          <p>Release Date: <b>{{ ticket.releaseDate }}</b></p>
        </div>
        <div class="departure-sunset-date">
          <div class="departure">
            <b>Departure:</b>
            <p>{{ ticket.from + ' ' + ticket.selectedHour }}</p>
          </div>
          <div class="decore"></div>
          <div class="sunset">
            <b>Sunset:</b>
            <p>{{ ticket.to + ' ' + ticket.sunsetTime }}</p>
          </div>
          <div class="decore"></div>
          <div class="start-date">
            <b>Expiration date:</b>
            <p>{{ ticket.date }}</p>
          </div>
        </div>
        <div class="contact-information">
          <div class="contact-title">
            <h3>Contact information</h3>
          </div>
          <div class="email-phone-number">
            <div class="email">
              <b>Email: </b>
              <p>{{ ticket.email }}</p>
            </div>
            <div class="decore"></div>
            <div class="phone-number">
              <b>Phone number: </b>
              <p>{{ ticket.phoneNumber }}</p>
            </div>
          </div>
        </div>
        <div class="passengers">
          <div class="passengers-title">
            <h3>Passengers</h3>
          </div>
          <div class="passengers-list">
            <ng-container *ngFor="let passenger of ticket.passengers;">
              <div class="passsenger">
                <div class="first-name">
                  <b>First Name:</b>
                  <p>{{ passenger.firstName }}</p>
                </div>
                <div class="last-name">
                  <b>Last Name:</b>
                  <p>{{ passenger.lastName }}</p>
                </div>
                <div class="personal-number">
                  <b>Personal number:</b>
                  <p>{{ passenger.personalNumber }}</p>
                </div>
                <div class="place">
                  <b>Place:</b>
                  <p>{{ passenger.place }}</p>
                </div>
                <div class="train-class">
                  <b>Train class:</b>
                  <p>
                    <ng-container *ngIf="passenger.trainClass == 150">
                      I Class
                    </ng-container>
                    <ng-container *ngIf="passenger.trainClass == 100">
                      II Class
                    </ng-container>
                    <ng-container *ngIf="passenger.trainClass == 50">
                      III Class
                    </ng-container>
                  </p>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
        <div class="payment-info">
          <div class="payment-left">
            <b>Payment info:</b>
            <p>{{ ticket.cardOwner }}</p>
            <p>Credit Card - *****</p>
          </div>
          <div class="payment-right">
            <b>Paid in full</b>
            <p>{{ ticket.amount }}$</p>
          </div>
        </div>
        <div class="rules">
          <p>
            The invoice is generated by the computer and is
            valid without a stamp or signature
          </p>
          <p class="red-p">
            Download the ticket or save the ticket number to present on the spot
          </p>
        </div>
      </div>
      <button (click)="deleteTicket(ticket.id)">Delete Ticket</button>
    </ng-container>
  </ng-container>
</div>
<app-footer></app-footer>
