<div class="section-main">
  <div class="section-left">
    <img src="/assets/images/traveller.png">
  </div>
  <div class="section-right">
    <div class="title">
      <h1>მატარებლის ბილეთები</h1>
    </div>
    <div class="about">
      <p>
        რკინიგზის ბილეთების შესაძენად თქვენ დაგჭირდებათ თითოეული
        მგზავრის პირადი ნომერი. გთხოვთ მოამზადოთ ეს ინფორმაცია წინასწარ.
      </p>
    </div>
    <div class="container-list">
      <div class="container">
        <img src="/assets/images/offers.png">
        <h4>შეუზღუდავი შეთავაზებები</h4>
      </div>
      <div class="container">
        <img src="/assets/images/priv.png">
        <h4>100% უსაფრთხო</h4>
      </div>
      <div class="container">
        <img src="/assets/images/support.png">
        <h4>24/7 მხარდაჭერა</h4>
      </div>
      <div class="container">
        <img src="/assets/images/pay.png">
        <h4>100% უსაფრთხო გადახდა</h4>
      </div>
    </div>
  </div>
</div>