<div class="section-main">
  <div class="section-left">
    <img src="/assets/images/trainn.png">
  </div>
  <div class="section-right">
    <div class="title">
      <h1>Train tickets</h1>
    </div>
    <div class="about">
      <p>
        You will need each to buy train tickets
        Passenger's personal number. Please prepare this information in advance.
      </p>
    </div>
    <div class="container-list">
      <div class="container">
        <img src="/assets/images/offers.png">
        <h4>Unlimited offers</h4>
      </div>
      <div class="container">
        <img src="/assets/images/priv.png">
        <h4>100% Safe</h4>
      </div>
      <div class="container">
        <img src="/assets/images/support.png">
        <h4>24/7 Support</h4>
      </div>
      <div class="container">
        <img src="/assets/images/pay.png">
        <h4>100% Secure payment</h4>
      </div>
    </div>
  </div>
</div>