<app-header></app-header>
<div class="passenger-data-main">
  <div class="title">
    <h1>Passenger Data</h1>
  </div>
  <div class="section">
    <div class="section-left">
      <div class="section-left-title">
        <h3>Enter your details</h3>
      </div>
      <div class="details">
        <ul>
          <li>
            <div class="list-info">
              <p>#{{ storedData.trainName}}</p>
              <p> Express</p>
            </div>
          </li>
          <li>
            <div class="list-info">
              <p>{{ storedData.selectedHour }}</p>
              <p>{{ storedData.from}}</p>
            </div>
          </li>
          <li>
            <div class="list-info">
              <p>{{ storedData.sunsetTime }}</p>
              <p>{{ storedData.to }}</p>
            </div>
          </li>
        </ul>
      </div>
      <div class="decoration-line"></div>
      <!-- contact form -->
      <div class="contact-form-main">
        <div class="contact-form-title">
          <h3>Contact Form</h3>
        </div>
        <div class="contact-form-body">
          <form>
            <input type="email" placeholder="Email">
            <input type="number" placeholder="Phone Number">
          </form>
        </div>
      </div>
      <!-- passengers information form -->
      <div class="passengers-information-main">
        <div class="passengers-information-title">
          <h3>Passenger Information</h3>
        </div>
        <div class="passengers-information-form">
          <h3>Passenger 1</h3>
          <form [formGroup]="myForm" (ngSubmit)="addPassenger()">
            <div class="test" formGroupName="passenger">
              <input type="text" placeholder="First Name" formControlName="firstName">
              <input type="text" placeholder="Last Name" formControlName="lastName">
              <input type="number" placeholder="Personal Number" formControlName="personalNumber">
            </div>
            <button type="submit">Add Passenger</button>
          </form>          
        </div>
        
      </div>
    </div>
    <div class="section-right">
      <div class="invoice-main">
        <div class="invoice-title">
          <h3>Invoice</h3>
        </div>
        <div class="invoice-options">
          <p>Place</p>
          <p>Price</p>
          <div class="invoice-decore"></div>
        </div>
        <div class="total-amount">
          <p>Full Price : </p>
          <p>0.00$</p>
        </div>
        <div class="rules">
          <input type="radio">
          <p>I have read and agree to the rules</p>
        </div>
        <div class="ticket-register-btn">
          <button>Ticket Registration</button>
        </div>
      </div>
    </div>
  </div>
</div>
