.passenger-data-main {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  .title {
    width: 100%;
    height: 200px;
    background-color: #294985;
    padding: 20px 150px;
    display: flex;
    align-items: center;
    h1 {
      color: #fff;
      font-weight: 100;
      letter-spacing: 0.5px;
    }
  }
  .section {
    width: 100%;
    height: auto;
    display: flex;
    align-items: top;
    justify-content: space-between;
    padding: 30px 150px;
    column-gap: 20px;
    .section-left {
      width: 900px;
      height: auto;
      display: flex;
      flex-direction: column;
      row-gap: 25px;
      box-shadow: 0px 0px 3px #5b5b5b;
      padding: 30px 20px;
      border-radius: 10px;
      .section-left-title {
        h3 {
          font-size: 30px;
          color: #000;
          font-weight: 100;
        }
      }
      .details {
        width: 100%;
        height: auto;
        ul {
          display: flex;
          flex-direction: row;
          column-gap: 100px;
          align-items: center;
          background-color: #e4e4e4;
          padding: 10px 30px;
          li {
            list-style: none;
            width: 100%;
            flex: 1;
            button {
              background-color: #294985;
              color: #fff;
              border: none;
              outline: none;
              padding: 5px 10px;
              font-size: 16px;
              border-radius: 4px;
              cursor: pointer;
              transition: 0.2s;
              &:hover {
                background-color: #2e5eb7;
                transition: 0.2s;
              }
              &:active {
                transition: 0s;
                background-color: #294985;
              }
            }
            .list-info {
              display: flex;
              flex-direction: column;
              row-gap: 8px;
            }
          }
        }
      }
      .decoration-line {
        width: 100%;
        height: 2px;
        border-bottom: 2px dashed #b2b2b2;
      }
      .contact-form-main {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        .contact-form-title {
          h3 {
            font-size: 30px;
            font-weight: 100;
          }
        }
        .contact-form-body {
          width: 100%;
          height: auto;
          display: flex;
          flex-direction: row;
          align-items: center;
          form {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: row;
            column-gap: 10px;
            input {
              width: 100%;
              padding: 7px 10px;
              border: 1px solid #000;
              outline: none;
              font-size: 17px;
              border-radius: 4px;
            }
            button {
              width: 700px;
              height: 35px;
              background-color: #294985;
              color: #fff;
              font-size: 18px;
              border: none;
              outline: none;
              border-radius: 4px;
              cursor: pointer;
              transition: 0.3s;
              &:hover {
                background-color: #2e5eb7;
                transition: 0.3s;
              }
              &:active {
                background-color: #294985;
                transition: 0s;
              }
            }
          }
        }
      }
      .passengers-information-main {
        width: 100%;
        display: flex;
        flex-direction: column;
        row-gap: 30px;
        .passengers-information-title {
          h3 {
            font-size: 30px;
            color: #000;
            font-weight: 100;
          }
        }
        .passengers-information-form {
          width: 100%;
          height: auto;
          display: flex;
          flex-direction: column;
          row-gap: 10px;
          h3 {
            font-size: 25px;
            font-weight: 100;
            color: #000;
          }
          form {
            width: 100%;
            .passenger-box {
              width: 100%;
              display: flex;
              align-items: center;
              flex-direction: row;
              column-gap: 10px;
              .place {
                width: 550px;
                height: 35px;
                background-color: #294985;
                color: #fff;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: row;
                column-gap: 10px;
                border-radius: 4px;
              }
              input {
                width: 100%;
                height: 35px;
                padding: 7px 10px;
                border: 1px solid #000;
                outline: none;
                font-size: 17px;
                border-radius: 4px;
              }
              button {
                width: 700px;
                height: 35px;
                background-color: #294985;
                color: #fff;
                font-size: 18px;
                border: none;
                outline: none;
                border-radius: 4px;
                cursor: pointer;
                transition: 0.3s;
                &:hover {
                  background-color: #2e5eb7;
                  transition: 0.3s;
                }
                &:active {
                  background-color: #294985;
                  transition: 0s;
                }
              }
            }
          }
        }
      }
    }
    .section-right {
      width: 100%;
      height: 400px;
      box-shadow: 0px 0px 3px #5b5b5b;
      border-radius: 10px;
      .invoice-main {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        row-gap: 30px;
        padding: 20px 40px;
        background-color: #f1f1f1;
        border-radius: 10px;
        .invoice-title {
          width: 100%;
          text-align: center;
          h3 {
            font-size: 24px;
            color: #2e5eb7;
          }
        }
        .invoice-options {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          position: relative;
          padding-bottom: 5px;
          p {
            font-size: 18px;
          }
          .invoice-decore {
            position: absolute;
            content: '';
            bottom: 0;
            left: 0;
            width: 100%;
            height: 0.5px;
            background-color: #000;
          }
        }
        .total-amount {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 4px 10px;
          border-radius: 6px;
          border: 1px solid #000;
          background-color: #fff;
          p {
            font-size: 18px;
          }
        }
        .rules {
          width: 100%;
          height: auto;
          display: flex;
          flex-direction: row;
          column-gap: 5px;
          align-items: center;
        }
        .ticket-register-btn {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          height: auto;
          button {
            font-size: 19px;
            color: #fff;
            background-color: #2e5eb7;
            border: none;
            outline: none;
            cursor: pointer;
            border-radius: 6px;
            padding: 8px 20px;
            transition: 0.3s;
            &:hover {
              background-color: #3e78e5;
              transition: 0.3s;
              transform: translateY(-2px);
            }
            &:active {
              background-color: #294985;
              transition: 0s;
            }
          }
        }
      }
    }
  }
}
.passenger-place-form {
  z-index: 3;
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100vh;
      inset: 0;
      opacity: 0.5;
      background-color: #575757;
      z-index: 2;
  }
  .place-form {
    width: 400px;
    height: auto;
    background-color: #fff;
    border-radius: 20px;
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
    padding: 40px 30px;
    .close-btn {
      width: 100%;
      height: auto;
      display: flex;
      justify-content: right;
      position: absolute;
      top: 10px;
      right: 10px;
      img {
        width: 40px;
        height: 40px;
        object-fit: cover;
        transition: 0.2s;
        cursor: pointer;
        &:hover {
          transform: scale(1.1);
          transition: 0.2s;
        }
      }
    }
    .train {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: row;
      column-gap: 15px;
      align-items: center;
      justify-content: center;
      position: relative;
      .trains-class {
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        column-gap: 15px;
        position: absolute;
        left: 0;
        top: -25px;
        content: '';
        z-index: 11;
        .train-class {
          p {
            color: #4a4a4a;
            font-size: 20px;
            font-weight: 100;
          }
        }
      }
      img {
        width: 120px;
        height: 58px;
        object-fit: cover;
        opacity: 0.6;
        cursor: pointer;
        &:hover {
          opacity: 1;
          transition: 0.2s;
        }
      }
    }
    .train-place-list {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: row;
      align-items: top;
      justify-content: center;
      column-gap: 75px;
      .train-place-list-left,
      .train-place-list-right {
        display: flex;
        flex-direction: column;
        row-gap: 11px;
        .place-a,
        .place-b {
          font-size: 20px;
          background-color: #009619;
          color: #fff;
          padding: 5px;
          border-radius: 5px;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          transition: 0.2s;
          &:hover {
            transform: scale(1.1);
            transition: 0.2s;
          }
        }
        .get-red {
          background-color: #c51010;
        }
      }
    }
  }
}
