<app-header></app-header>
<div class="passenger-data-main">
  <div class="title">
    <h1>Passenger Data</h1>
  </div>
  <div class="section">
    <div class="section-left">
      <div class="section-left-title">
        <h3>Enter your details</h3>
      </div>
      <div class="details">
        <ul>
          <li>
            <div class="list-info">
              <p>#{{ storedData.trainName}}</p>
              <p> Express</p>
            </div>
          </li>
          <li>
            <div class="list-info">
              <p>{{ storedData.selectedHour }}</p>
              <p>{{ storedData.from}}</p>
            </div>
          </li>
          <li>
            <div class="list-info">
              <p>{{ storedData.sunsetTime }}</p>
              <p>{{ storedData.to }}</p>
            </div>
          </li>
        </ul>
      </div>
      <div class="decoration-line"></div>
      <!-- user contact form -->
      <div class="contact-form-main">
        <div class="contact-form-title">
          <h3>Contact Form</h3>
        </div>
        <div class="contact-form-body">
          <form [formGroup]="myForm" (ngSubmit)="addContact()">
            <input type="email" placeholder="Email" 
            formControlName="email">
            <input type="number" placeholder="Phone Number"
            formControlName="phoneNumber">
             <button type="submit">Add Contact</button>
          </form>
        </div>
      </div>
      <!-- passengers information form -->
      <div class="passengers-information-main">
        <div class="passengers-information-title">
          <h3>Passenger Information</h3>
        </div>
        <!-- passengers form -->
        <div class="passengers-information-form" [formGroup]="myForm">
            <div class="passenger-box" formArrayName="passengers">
                <ng-container *ngFor="let passengerForm of passengers.controls; let i = index;">
                  <div>
                    <h3>Passenger {{ i + 1 }}</h3>
                    <form  [formGroupName]="i" (ngSubmit)="addPassengerInfo(i)">
                      <div class="passenger-container">
                        <div class="passenger-container-up">
                          <input type="text" placeholder="First Name" formControlName="firstName">
                          <input type="text" placeholder="Last Name" formControlName="lastName">
                          <input type="number" placeholder="Personal Number" formControlName="personalNumber">
                        </div>
                        <div class="passenger-container-down">
                          <select formControlName="trainClass">
                            <option value="">Train Class</option>
                            <option value="1">I Class</option>
                            <option value="2">II Class</option>
                            <option value="3">III Class</option>
                          </select>
                          <select formControlName="place">
                            <option value="">Place in train</option>
                            <option value="a1">A1</option>
                            <option value="a2">A2</option>
                            <option value="a3">A3</option>
                            <option value="a4">A4</option>
                            <option value="a5">A5</option>
                            <option value="b1">B1</option>
                            <option value="b2">B2</option>
                            <option value="b3">B3</option>
                            <option value="b4">B4</option>
                            <option value="b5">B5</option>
                          </select>
                          <button type="submit">Add Passenger</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </ng-container>
            </div>
        </div>
      </div>
    </div>
    <div class="section-right">
      <div class="invoice-main">
        <div class="invoice-title"> 
          <h3>Invoice</h3>
        </div>
        <div class="invoice-options">
          <p>Place</p>
          <p>Price</p>
          <div class="invoice-decore"></div>
        </div>
        <div class="total-amount">
          <p>Full Price : </p>
          <p>0.00$</p>
        </div>
        <div class="rules">
          <input type="radio">
          <p>I have read and agree to the rules</p>
        </div>
        <div class="ticket-register-btn">
          <button>Ticket Registration</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="added" [class.added-animation]="addDone">
  <div class="added-container">
    <h1>Added successfully</h1>
    <img src="/assets/images/added-icon.png"/>
  </div>
</div>