<div class="reservation-form-main">
  <div class="form-container">
    <h3>დაჯავშნეთ მატარებლის ბილეთი</h3>
    <form>
      <div class="from-where">
        <select formControlName="from">
          <option value="">საიდან</option>
          <option value="ფოთი">ფოთი</option>
          <option value="თბილისი">თბილისი</option>
          <option value="ბათუმი">ბათუმი</option>
        </select>
      </div>
      <div class="where">
        <select formControlName="to">
          <option value="">სად</option>
          <option value="ფოთი">ფოთი</option>
          <option value="თბილისი">თბილისი</option>
          <option value="ბათუმი">ბათუმი</option>
        </select>
      </div>
      <div class="departure-date">
        <input type="date" formControlName="date">
      </div>
      <div class="passengers-number">
        <input type="number" formControlName="people"
          placeholder="მგზავრების რაოდენობა">
      </div>
      <div class="btn">
        <button type="submit">მატარებლის მოძებნა</button>
      </div>
    </form>
  </div>
</div>