<div class="reservation-form-main">
  <div class="form-container">
    <h3>Book a train ticket</h3>
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
      <div class="from-where">
        <select formControlName="from">
          <option value="">From where</option>
          <option value="Poti">Poti</option>
          <option value="Tbilisi">Tbilisi</option>
          <option value="Batumi">Batumi</option>
        </select>
      </div>
      <div class="where">
        <select formControlName="to">
          <option value="">Where</option>
          <option value="Poti">Poti</option>
          <option value="Tbilisi">Tbilisi</option>
          <option value="Batumi">Batumi</option>
        </select>
      </div>
      <div class="departure-date">
        <input type="date" formControlName="date">
      </div>
      <div class="passengers-number">
        <input type="number" formControlName="people"
          placeholder="Number of people">
      </div>
      <div class="btn">
        <button type="submit">Find a train</button>
      </div>
    </form>
  </div>
</div>